<mat-card>
  <mat-card-header>Applications</mat-card-header>
  <mat-card-content>
    <div class="example-container mat-elevation-z8">

      <!-- <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div> -->

      <mat-table #table [dataSource]="apps">

        <!-- Name Column -->
        <ng-container matColumnDef="appName">
          <mat-header-cell *matHeaderCellDef>Application name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-button [routerLink]="['/app-edit', element.id]">{{element.appName}}</a>
          </mat-cell>
        </ng-container>

        <!-- app Type Column -->
        <ng-container matColumnDef="appType">
          <mat-header-cell *matHeaderCellDef> Application type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.appType}} </mat-cell>
        </ng-container>

        <!-- content Types Column -->
        <ng-container matColumnDef="contentTypes">
          <mat-header-cell *matHeaderCellDef> Content Types </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.contentTypes}} </mat-cell>
        </ng-container>

        <!-- app User Column -->
        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.appUserName}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
  <button mat-raised-button color="primary" [routerLink]="['/app-add']">Add Application</button>
</mat-card>
